.container {
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 55vw;
  margin: 0 auto;
  max-width: 768px;
  min-width: 300px;
  position: relative;
}
.mobile {
  position: absolute;
  right: 0;
  display: n;
}
