.container {
  width: 50%;
  margin: 0 auto;
}
@media (max-width: 776px) {
  .container {
    width: 80%;
    margin: 0 auto;
  }
}
.container .title {
  font-size: 1.2rem;
  border-bottom: 5px solid;
  width: fit-content;
  margin-top: 4rem;
  margin-bottom: 1.5rem;
  font-weight: 500;
}
.desc {
  text-indent: 1.5rem;
}
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cat1 {
  height: 200px;
  width: auto;
}
.cat2 {
  height: 150px;
  width: auto;
}
/* ================tech stack */
.stack {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.skill {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.skillIcon {
  font-size: 1.9rem;
}
/* =================animate text */

.heroText {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.8rem;
}
@media (max-width: 776px) {
  .heroText {
    font-size: 0.8rem;
  }
  .heroText span {
    display: block;
  }
}

.text {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
}

.textclass {
  color: red;
}

.t1 {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  animation: type 2s steps(20, end), curser1 0.8s 4;
  border-right: 8px solid transparent;
  animation-delay: 0;
  transition: 0.2s;
}

.t1:active {
  border-right: 8px solid transparent;
}

@keyframes type {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes curser {
  0% {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
  100% {
    border-color: transparent;
  }
}

@keyframes curser1 {
  0% {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
  100% {
    border-color: transparent;
  }
}
