.logo {
  font-size: 1.2rem;
  font-weight: 500;
  margin-right: 1.5rem;
  transition: 0.5s;
  position: relative;
  cursor: pointer;
  min-width: 150px;
}

.logo:hover {
  transform: translateY(-5px);
}
.nav_links {
  margin-left: 1rem;
  min-width: 160px;
}
.nav_link {
  font-weight: 400;
  font-size: 1.2rem;
  color: #ffffeb;
  display: inline-block;
  padding: 8px;
  transition: 0.4s;
}
.nav_link:last-child {
  margin-left: 0.5rem;
}
.nav_link:hover {
  transform: scale(1.2);
}
.social_icon {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.light_mode {
  color: black;
  padding: 8px 12px;
  border-radius: 4px;
  background-color: #f4d75e;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s ease;
  cursor: pointer;
}
.light_mode:hover {
  background-color: #f7c548;
}
.mobile_mode {
  margin-left: 1rem;
  margin-right: 1rem;
  color: #cbd5e0;
  padding: 8px 12px;
  border-radius: 4px;
  background-color: #202023;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s ease;
  cursor: pointer;
  border: 1px solid #333;
  opacity: 0;
}
@media (max-width: 770px) {
  .mobile_mode {
    opacity: 1;
  }
}

/* hand */
.wave {
  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}
